{% extends 'base.html.twig' %}

{% block title %}Audiophile | Checkout{% endblock %}

{% block body %}
    <main class="checkout">
      <section class="checkout-summary container">
        {% if quantity is not same as(0) %}
          <div class="checkout-summary-header">
            <h1>Summary</h1>
            <a href="{{ path('app_cart_clear') }}">Remove All</a>
          </div>
          <div class="summary-content">
            {% include('cart/cartPartial.html.twig') %}
          </div>

          <div class="summary-infos">
            <div class="summary-infos-article">
              <h2>Articles</h2>
              <p>$ {{ sum }}</p>
            </div>
            <div class="summary-infos-article">
              <h2>Shipping</h2>
              <p>$ {{ shipping }}</p>
            </div>
            <div class="summary-infos-article">
              <h2>Estimated Tax</h2>
              <p>$ {{ taxes }}</p>
            </div>
            <div class="summary-infos-article">
              <h2>total</h2>
              <p class="total">$ {{ totalSum }}</p>
            </div>
          </div>
          <a href="/order/validate" class="btn btn-orange">Continue & Pay</a>

          {% else %}
            <div class="empty-cart">
              <h1>Your cart is empty</h1>
              <a href="/" class="btn btn-orange">Continue Shopping</a>
            </div>
        {% endif %}
      </section>
    </main>
{% endblock %}
