{% extends 'base.html.twig' %}

{% block title %}Audiophile | Checkout{% endblock %}

{% block body %}
    <main class="checkout">
      <section class="checkout-summary container">
        <h1>Summary</h1>
        <div class="summary-content">
          {% for cartLine in cartLines %}
          <div class="summary-article">
            <div class="summary-article-left">
              <div class="summary-article-img">
                <img src={{asset('/images/image-xx99-mark-two-headphones.jpg')}} alt="" />
              </div>
              <div class="summary-article-text">
                <h3>{{ cartLine.product.name | upper }}</h3>
                <p>$ {{ cartLine.product.price }}</p>
              </div>
            </div>
            <div class="summary-article-right">
              <p>x{{ cartLine.quantity }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="summary-infos">
          <div class="summary-infos-article">
            <h2>total</h2>
            <p>$ {{ sum }}</p>
          </div>
          <div class="summary-infos-article">
            <h2>Shipping</h2>
            <p>$ 50</p>
          </div>
          <div class="summary-infos-article">
            <h2>Estimated Tax</h2>
            <p>$ 90</p>
          </div>
          <div class="summary-infos-article">
            <h2>VAT (included)</h2>
            <p>$ 200</p>
          </div>
        </div>
        <button class="btn btn-orange">Continue & Pay</button>
      </section>
    </main>
{% endblock %}
