<section class="links">
  <section class="shopLink container">
    <a class="shopLink-content" href="/category/headphones">
      <img src={{asset('/images/shared/image-category-thumbnail-headphones.png')}} class="shopLink-content-img" alt="Link to headphones" />
      <div class="shopLink-content-text">
        <h3 class="shopLink-content-title">HEADPHONES</h3>
        <div class="shopLink-content-text-link">
          <p>Shop</p>
          <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
        </div>
      </div>
    </a>
    <a class="shopLink-content" href="/category/speakers">
      <img src={{asset('/images/shared/image-category-thumbnail-speakers.png')}} class="shopLink-content-img" alt="Link to speakers" />
      <div class="shopLink-content-text">
        <h3 class="shopLink-content-title">SPEAKERS</h3>
        <div class="shopLink-content-text-link">
          <p>Shop</p>
          <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
        </div>
      </div>
    </a>
    <a class="shopLink-content" href="/category/earphones">
      <img src={{asset('/images/shared/image-category-thumbnail-earphones.png')}} class="shopLink-content-img" src={earphones} alt="Link to earphones" />
      <div class="shopLink-content-text">
        <h3 class="shopLink-content-title">EARPHONES</h3>
        <div class="shopLink-content-text-link">
          <p>Shop</p>
          <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
        </div>
      </div>
    </a>
  </section>
</section>