{% extends 'base.html.twig' %}

{% block title %}Audiophile | {{ category.name|capitalize }}{% endblock %}

{% block body %}
    <div>
        <section class="hero-title">
            <h1>{{ category.name|upper }}</h1>
        </section>
        <section class="container">
            <div class="category">
                {% for product in products %}
                {% if loop.index%2 == 0 %}
                <div class="category-article category-article-reverse">
                    {% else %}
                    <div class="category-article">
                        {% endif %}
                        <picture class="category-article-img">
                            <source media="(min-width: 1024px)"/>
                            <source media="(min-width: 768px)"/>
                            <img alt=""/>
                        </picture>
                        <div class="category-article-content">
                            <h2 class="mid-title">{{ product.name|upper }}</h2>
                            <p class="text">
                                {{ product.description }}
                            </p>
                            <button class="btn btn-orange"><a href="/category/{{ category.name }}/{{ product.slug }}">SEE PRODUCT</a></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include('layouts/link.html.twig') %}
        {% include('layouts/gearLocation.html.twig') %}
    </div>
{% endblock %}
