{% extends 'base.html.twig' %}

{% block title %}Hello HeadphonesController!{% endblock %}

{% block body %}
    <div>
        <section class="hero-title">
            <h1>{{ category.name|upper }}</h1>
        </section>
        <section class="container">
            <div class="category">
                {#                <div class="category-article new-product"> #}
                {#                    <picture class="category-article-img"> #}
                {#                        <source media="(min-width: 1024px)" /> #}
                {#                        <source media="(min-width: 768px)" /> #}
                {#                        <img alt="" /> #}
                {#                    </picture> #}
                {#                    <div class="category-article-content"> #}
                {#                        <h4 class="new-product">NEW PRODUCT</h4> #}
                {#                        <a href="xx99"> #}
                {#                            <h2 class="mid-title">XX99 MARK II HEADPHONES</h2> #}
                {#                        </a> #}
                {#                        <p class="text"> #}
                {#                            Experience natural, lifelike audio and exceptional build quality #}
                {#                            made for the passionate music enthusiast. #}
                {#                        </p> #}
                {#                        <a href="xx99" class="btn btn-orange"> #}
                {#                            SEE PRODUCT #}
                {#                        </a> #}
                {#                    </div> #}
                {#                </div> #}
                {% for product in products %}
                {% if loop.index%2 == 0 %}
                <div class="category-article category-article-reverse">
                    {% else %}
                    <div class="category-article">
                        {% endif %}
                        <picture class="category-article-img">
                            <source media="(min-width: 1024px)"/>
                            <source media="(min-width: 768px)"/>
                            <img alt=""/>
                        </picture>
                        <div class="category-article-content">
                            <h2 class="mid-title">{{ product.name|upper }}</h2>
                            <p class="text">
                                {{ product.description }}
                            </p>
                            <button class="btn btn-orange">SEE PRODUCT</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="shopLink container">
            <a class="shopLink-content" href="/headphones">
                <img
                        class="shopLink-content-img"
                        alt="Link to headphones"
                />
                <div class="shopLink-content-text">
                    <h3 class="shopLink-content-title">HEADPHONES</h3>
                    <div class="shopLink-content-text-link">
                        <p>Shop</p>
                        <img alt="Arrow to the shop"/>
                    </div>
                </div>
            </a>
            <a class="shopLink-content" href="/speakers">
                <img
                        class="shopLink-content-img"
                        alt="Link to speakers"
                />
                <div class="shopLink-content-text">
                    <h3 class="shopLink-content-title">SPEAKERS</h3>
                    <div class="shopLink-content-text-link">
                        <p>Shop</p>
                        <img alt="Arrow to the shop"/>
                    </div>
                </div>
            </a>
            <a class="shopLink-content" href="/earphones">
                <img
                        class="shopLink-content-img"
                        alt="Link to earphones"
                />
                <div class="shopLink-content-text">
                    <h3 class="shopLink-content-title">EARPHONES</h3>
                    <div class="shopLink-content-text-link">
                        <p>Shop</p>
                        <img alt="Arrow to the shop"/>
                    </div>
                </div>
            </a>
        </section>
        <section class="gearLocation container">
            <div class="gearLocation-content">
                <picture class="gearLocation-content-img">
                    <source srcset={{ asset('/images/desktop/image-best-gear.jpg') }} media="(min-width: 1024px)
                    " />
                    <source srcset={{ asset('/images/tablet/image-best-gear.jpg') }} media="(min-width: 768px)" />
                    <img src={{ asset('/images/mobile/image-best-gear.jpg') }} alt="Picture of someone trying the XX99
                         HeadPhones" />
                </picture>
                <div class="gearLocation-content-text">
                    <h3 class="gearLocation-content-title">
                        Bringing you the <span>best</span> audio gear
                    </h3>
                    <p class="text">
                        Located at the heart of New York City, Audiophile is the premier
                        store for high end headphones, earphones, speakers, and audio
                        accessories. We have a large showroom and luxury demonstration rooms
                        available for you to browse and experience a wide range of our
                        products. Stop by our store to meet some of the fantastic people who
                        make Audiophile the best place to buy your portable audio equipment.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
