{% extends 'base.html.twig' %}

{% block title %}Audiophile | {{ product.name }}{% endblock %}

{% block body %}
    <main>
      <section class="detail container">
        {# <a class="goBack text" href="/category/{{category.name}}">
          Go Back
        </a> #}

        <div class="detail-product">
          <picture class="detail-product-img">
            <source media="(min-width: 1024px)" />
            <source media="(min-width: 768px)" />
            <img alt="" />
          </picture>
          <div class="detail-product-content">
            <h4 class="new-product">NEW PRODUCT</h4>
            <h2 class="mid-title">{{ product.name|upper }}</h2>
            <p class="text">
              {{ product.description }}
            </p>
            <p class="detail-product-content-price">$ {{ product.price }}</p>

            <div class="add-to-cart">
              <div class="add-to-cart-number">
                <button>-</button>
                <p>0</p>
                <button onclick="">+</button>
              </div>
              <button class="btn btn-orange"><a href="/cart/add/{{ product.id }}/1">Add to cart</a></button>
            </div>
          </div>
        </div>
      </section>
      <section class="links">
        <section class="shopLink container">
          <a class="shopLink-content" href="/category/headphones">
            <img src={{asset('/images/shared/image-category-thumbnail-headphones.png')}} class="shopLink-content-img" alt="Link to headphones" />
            <div class="shopLink-content-text">
              <h3 class="shopLink-content-title">HEADPHONES</h3>
              <div class="shopLink-content-text-link">
                <p>Shop</p>
                <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
              </div>
            </div>
          </a>
          <a class="shopLink-content" href="/category/speakers">
            <img src={{asset('/images/shared/image-category-thumbnail-speakers.png')}} class="shopLink-content-img" alt="Link to speakers" />
            <div class="shopLink-content-text">
              <h3 class="shopLink-content-title">SPEAKERS</h3>
              <div class="shopLink-content-text-link">
                <p>Shop</p>
                <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
              </div>
            </div>
          </a>
          <a class="shopLink-content" href="/category/earphones">
            <img src={{asset('/images/shared/image-category-thumbnail-earphones.png')}} class="shopLink-content-img" src={earphones} alt="Link to earphones" />
            <div class="shopLink-content-text">
              <h3 class="shopLink-content-title">EARPHONES</h3>
              <div class="shopLink-content-text-link">
                <p>Shop</p>
                <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
              </div>
            </div>
          </a>
        </section>
      </section>
      <section class="gearLocation container">
        <div class="gearLocation-content">
          <picture class="gearLocation-content-img">
            <source srcset={{asset('/images/desktop/image-best-gear.jpg')}} media="(min-width: 1024px)" />
            <source srcset={{asset('/images/tablet/image-best-gear.jpg')}} media="(min-width: 768px)" />
            <img src={{asset('/images/mobile/image-best-gear.jpg')}} alt="Picture of someone trying the XX99 HeadPhones" />
          </picture>
          <div class="gearLocation-content-text">
            <h3 class="gearLocation-content-title">
              Bringing you the <span>best</span> audio gear
            </h3>
            <p class="text">
              Located at the heart of New York City, Audiophile is the premier
              store for high end headphones, earphones, speakers, and audio
              accessories. We have a large showroom and luxury demonstration rooms
              available for you to browse and experience a wide range of our
              products. Stop by our store to meet some of the fantastic people who
              make Audiophile the best place to buy your portable audio equipment.
            </p>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
