{% extends 'base.html.twig' %}

{% block title %}Audiophile | {{ product.name }}{% endblock %}

{% block body %}
    <main>
      <section class="detail container">
        {# <a class="goBack text" href="/category/{{category.name}}">
          Go Back
        </a> #}
        <div class="detail-product">
          <picture class="detail-product-img">
            <source srcset="{{asset('/images/products/product-' ~ product.slug ~ '/desktop/image-product-' ~ product.slug ~ '.jpg')}}" media="(min-width: 1024px)" />
            <source srcset="{{asset('/images/products/product-' ~ product.slug ~ '/tablet/image-product-' ~ product.slug ~ '.jpg')}}" media="(min-width: 768px)" />
            <img src="{{asset('/images/products/product-' ~ product.slug ~ '/mobile/image-product-' ~ product.slug ~ '.jpg')}}" alt={{product.name}} />
          </picture>
          <div class="detail-product-content">
            <h4 class="new-product">NEW PRODUCT</h4>
            <h2 class="mid-title">{{ product.name|upper }}</h2>
            <p class="text">
              {{ product.description }}
            </p>
            <p class="detail-product-content-price">$ {{ product.price }}</p>

            <div class="add-to-cart">
              <a class="btn btn-orange" href="/cart/add/{{ product.id }}">Add to cart</a>
            </div>
          </div>
        </div>
        <section class="features">
        <div>
          <p>{{ product.feature1 }}</p>
          <p>{{ product.feature2 }}</p>
          {# {% for description in productDescriptions %}
              <p>{{ description.text }}</p>
          {% endfor %} #}
        </div>
        </section>
        <section class="detail-images">
          <picture class="detail-images-picture">
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/desktop/image-gallery-1-' ~ product.slug ~ '.jpg')}}" media="(min-width: 1024px)" />
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/tablet/image-gallery-1-' ~ product.slug ~ '.jpg')}}" media="(min-width: 768px)" />
            <img src="{{asset('/images/products/product-' ~ product.slug ~ '/mobile/image-gallery-1-' ~ product.slug ~ '.jpg')}}" alt={{ product.name }} />
          </picture>
          <picture class="detail-images-picture">
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/desktop/image-gallery-2-' ~ product.slug ~ '.jpg')}}" media="(min-width: 1024px)" />
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/tablet/image-gallery-2-' ~ product.slug ~ '.jpg')}}" media="(min-width: 768px)" />
            <img src="{{asset('/images/products/product-' ~ product.slug ~ '/mobile/image-gallery-2-' ~ product.slug ~ '.jpg')}}" alt={{ product.name }} />
          </picture>
          <picture class="detail-images-picture">
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/desktop/image-gallery-3-' ~ product.slug ~ '.jpg')}}" media="(min-width: 1024px)" />
            <source srcSet="{{asset('/images/products/product-' ~ product.slug ~ '/tablet/image-gallery-3-' ~ product.slug ~ '.jpg')}}" media="(min-width: 768px)" />
            <img src="{{asset('/images/products/product-' ~ product.slug ~ '/mobile/image-gallery-3-' ~ product.slug ~ '.jpg')}}" alt={{ product.name }} />
          </picture>
        </section>
      </section>
      </section>
      
      {% include('layouts/link.html.twig') %}
      {% include('layouts/gearLocation.html.twig') %}
    </main>
{% endblock %}
