{% extends '/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <div class="login register">
            <section class="login-container container">
                <h1 class="login-title">Add Category</h1>
                <div class="login-form">
                    {% for category in categories %}
                        <div class="login-form-input">
                            <h3>{{ category.name | upper }}</h3>
                        </div>
                        <div class="summary-article-text">
                            <h3>{{ category.description }}</h3>
                        </div>
                        <a href="{{ path('app_admin_delete_category', {'id': category.id}) }}" class="btn">delete</a>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="login register">
            <section class="login-container container">
                <h1 class="login-title">Add Category</h1>

                {{ form_errors(categoryForm) }}

                {{ form_start(categoryForm) }}

                <div class="login-form">
                    <div class="login-form-input">
                        {{ form_row(categoryForm.name) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(categoryForm.description) }}
                    </div>
                    <button type="submit" class="btn btn-orange">Add</button>
                </div>
                {{ form_end(categoryForm) }}
            </section>
        </div>
    </div>
{% endblock %}
