<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Audiophile | E-commerce{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
      <header class="header">
        <div class="header-container container">
          <a href="/">
            <img src={{asset('/images/icons/logo.svg')}} alt="Audiophile logo" />
          </a>
          <nav class="header-nav">
            <ul class="header-nav-list">
              <li>
                <a href="/">HOME</a>
              </li>
              <li>
                <a href="/category/headphones">HEADPHONES</a>
              </li>
              <li>
                <a href="/category/speakers">SPEAKERS</a>
              </li>
              <li>
                <a href="/category/earphones">EARPHONES</a>
              </li>
            </ul>
          </nav>
          <div class="header-right"> 
            <div class="header-cart">
              <img src={{asset('/images/icons/icon-cart.svg')}}  alt="Open the basket" />
            </div> 
            <div class="header-link">
              <a href="/login" class="header-login">
                <img src={{asset('/images/icons/login.svg')}} alt="Link to your profile" />
              </a>
              <div class="header-menu" aria-label="To open or close the menu">
                <img src={{asset('/images/icons/icon-hamburger.svg')}} class="header-menu-logo" alt="Menu" />
              {# header-menu-bg doit être de base en display none le JS doit être fait #}
                <div class="header-menu-bg">
                  <div class="header-menu-bg-white">
                    <section class="links">
                      <section class="shopLink container">
                        <a class="shopLink-content" href="/headphones">
                          <img src={{asset('/images/shared/image-category-thumbnail-headphones.png')}} class="shopLink-content-img" alt="Link to headphones" />
                          <div class="shopLink-content-text">
                            <h3 class="shopLink-content-title">HEADPHONES</h3>
                            <div class="shopLink-content-text-link">
                              <p>Shop</p>
                              <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
                            </div>
                          </div>
                        </a>
                        <a class="shopLink-content" href="/speakers">
                          <img src={{asset('/images/shared/image-category-thumbnail-speakers.png')}} class="shopLink-content-img" alt="Link to speakers" />
                          <div class="shopLink-content-text">
                            <h3 class="shopLink-content-title">SPEAKERS</h3>
                            <div class="shopLink-content-text-link">
                              <p>Shop</p>
                              <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
                            </div>
                          </div>
                        </a>
                        <a class="shopLink-content" href="/earphones">
                          <img src={{asset('/images/shared/image-category-thumbnail-earphones.png')}} class="shopLink-content-img" src={earphones} alt="Link to earphones" />
                          <div class="shopLink-content-text">
                            <h3 class="shopLink-content-title">EARPHONES</h3>
                            <div class="shopLink-content-text-link">
                              <p>Shop</p>
                              <img src={{asset('/images/icons/icon-arrow-right.svg')}} alt="Arrow to the shop" />
                            </div>
                          </div>
                        </a>
                      </section>
                    </section>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="border-bottom container-img"></div>
      </header>

      {% block body %}{% endblock %}

      <footer class="footer">
        <div class="footer-container container">
          <div class="footer-border"></div>
          <div class="footer-hero">
            <img
                class="footer-hero-img"
                src="{{asset('/images/icons/logo.svg')}}"
                alt="Audiophile logo"
            />
            <ul class="footer-hero-link">
              <li>
                <a href="/">HOME</a>
              </li>
              <li>
                <a href="/category/headphones">HEADPHONES</a>
              </li>
              <li>
                <a href="/category/speakers">SPEAKERS</a>
              </li>
              <li>
                <a href="/category/earphones">EARPHONES</a>
              </li>
            </ul>
          </div>
          <p class="footer-text text">
            Audiophile is an all in one stop to fulfill your audio needs. We're a
            small team of music lovers and sound specialists who are devoted to
            helping you get the most out of personal audio. Come and visit our
            demo facility - we’re open 7 days a week.
          </p>
          <div class="footer-link">
            <p class="footer-link-copyright text">
              Copyright 2024. All Rights Reserved
            </p>
            <div class="footer-link-img">
              <li>
                <img src="{{asset('/images/icons/icon-facebook.svg')}}" alt="Facebook logo" />
              </li>
              <li>
                <img src="{{asset('/images/icons/icon-twitter.svg')}}" alt="Twitter logo" />
              </li>
              <li>
                <img src={{asset('/images/icons/icon-instagram.svg')}} alt="Instagram logo" />
              </li>
            </div>
          </div>
        </div>
      </footer>
    </body>
</html>
