{% extends '/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <main class="profile">
            <section class="profile-container container">
                <h1 class="profile-title">Profile</h1>
                <div class="profile-text">
                    <div class="profile-user login-form">
                        <div class="login-form-input">
                            <label for="inputName">Name</label>
                            <input type="name" value="{{ app.user.name }}" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                        </div>
                        {% for product in products %}
                            <div class="login-form-input">
                                <label for="inputName">Name</label>
                                <input type="name" value="{{ product.name }}" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                            </div>
                            <div class="login-form-input">
                                <label for="inputName">Description</label>
                                <input type="description" value="{{ product.description }}" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                            </div>
                            <div class="login-form-input">
                                <label for="inputName">Price</label>
                                <input type="price" value="{{ product.price }} $" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                            </div>
                            {% if product.available %}
                                <h3>Available</h3>
                            {% else %}
                                <h3>Not available</h3>
                            {% endif %}
                            <div class="login-form-input">
                                <label for="inputName">Slug</label>
                                <input type="slug" value="{{ product.slug }}" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                            </div>
                            <a href="{{ path('app_admin_delete_product', {'id': product.id}) }}" class="btn btn-orange">delete</a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        <div class="login register">
            <section class="login-container container">
                <h1 class="login-title">Add Category</h1>

                {{ form_errors(productForm) }}

                {{ form_start(productForm) }}

                <div class="login-form">
                    <div class="login-form-input">
                        {{ form_row(productForm.name) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.description) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.price) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.available) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.slug) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.category) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.feature1) }}
                    </div>
                    <div class="login-form-input">
                        {{ form_row(productForm.feature2) }}
                    </div>
                    <button type="submit" class="btn btn-orange">Add</button>
                </div>
                {{ form_end(productForm) }}
            </section>
        </div>
    </div>
{% endblock %}
