{% extends 'base.html.twig' %}

{% block title %}Audiophile | Order{% endblock %}

{% block body %}
    <main class="order">
        <div class="order-container container">
            {% if isConfirmed == null %}
            <section class="order-form">
                {% if customer and cartLines %}
                <div class="order-infos login-form">
                    <div class="order-infos-hide" id="billings">
                        <h2>Your informations</h2>
                        <img src="{{asset('/images/icons/icon-arrow.svg')}}" />
                    </div>
                    <div class="order-infos-billings visible">
                        <h3 class="order-infos-title">Billing details</h3>
                        <div class="login-form-input">
                            <label for="inputFirstName">Firstname</label>
                            <input type="firstName" value="{{ customer.firstName }}" name="firstName" id="inputFirstName" class="form-control" autocomplete="firstName" disabled>
                        </div>
                        <div class="login-form-input">
                            <label for="inputName">Name</label>
                            <input type="name" value="{{ customer.name }}" name="name" id="inputName" class="form-control" autocomplete="name" disabled>
                        </div>
                        <div class="login-form-input">
                            <label for="phone">Phone</label>
                            <input type="number" value="{{ customer.phone }}" name="phone" id="phone" class="form-control" autocomplete="phone" disabled>
                        </div>
                        <h3 class="order-infos-title">shipping info</h3>
                        <div class="login-form-input">
                            <label for="address">Address</label>
                            <input type="text" value="{{ customer.address }}" name="address" id="address" class="form-control" autocomplete="address" disabled>
                        </div>
                        <div class="login-form-input">
                            <label for="postalCode">Postal Code</label>
                            <input type="number" value="{{ customer.postalCode }}" name="postalCode" id="postalCode" class="form-control" autocomplete="postalCode" disabled>
                        </div>
                        <div class="login-form-input">
                            <label for="city">City</label>
                            <input type="text" value="{{ customer.city }}" name="city" id="city" class="form-control" autocomplete="city" disabled>
                        </div>
                        <div class="login-form-input">
                            <label for="country">Country</label>
                            <input type="text" value="{{ customer.country }}" name="country" id="country" class="form-control" autocomplete="country" disabled>
                        </div>
                    </div>

                    <div class="order-infos-hide" id="updateForm">
                        <h2>Change your informations</h2>
                        <img src="{{asset('/images/icons/icon-arrow.svg')}}" />
                    </div>
                    {% else %}
                    <div class="order-infos-hide" id="updateForm">
                        <h2>Enter your informations</h2>
                        <img src="{{asset('/images/icons/icon-arrow.svg')}}" />
                    </div>
                    {% endif %}
                    <div class="order-infos-update login">
                        {{ form_errors(customerAddressForm) }}
                        {{ form_start(customerAddressForm) }}

                        <div class="login-form">
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.firstName) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.name) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.address) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.phone) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.postalCode) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.city) }}
                            </div>
                            <div class="login-form-input">
                                {{ form_row(customerAddressForm.country) }}
                            </div>
                        </div>
                        {% if customer %}
                            <button type="submit" class="btn btn-orange">Update</button>
                        {% else %}
                            <button type="submit" class="btn btn-orange">Validate</button>
                        {% endif %}
                        {{ form_end(customerAddressForm) }}
                    </div>
                </div>
            </section>
            <section>
            </section>
            <section class="order-right">
                {% for cartLine in cartLines %}
                    <div class="summary-article">
                        <div class="summary-article-left">
                            <div class="summary-article-img">
                                <img src="{{ asset('/images/products/product-' ~ cartLine.product.slug ~ '/mobile/image-product-' ~ cartLine.product.slug ~ '.jpg') }}"
                                    alt={{ cartLine.product.name }}/>
                            </div>
                            <div class="summary-article-text">
                                <h3>{{ cartLine.product.name | upper }}</h3>
                                <p>$ {{ cartLine.product.price }}</p>
                            </div>
                        </div>
                        <div class="summary-article-right">
                            <div class="update-cart">
                                <p class="text">x{{ cartLine.quantity }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="summary-infos">
                    <div class="summary-infos-article">
                        <h2>Articles</h2>
                        <p>$ {{ sum }}</p>
                    </div>
                    <div class="summary-infos-article">
                        <h2>Shipping</h2>
                        <p>$ {{ shipping }}</p>
                    </div>
                    <div class="summary-infos-article">
                        <h2>Estimated Tax</h2>
                        <p>$ {{ taxes }}</p>
                    </div>
                    <div class="summary-infos-article">
                        <h2>total</h2>
                        <p class="total">$ {{ totalSum }}</p>
                    </div>
                </div>
                <a href="/order/confirm" class="btn btn-orange btn-confirm">Confirm order</a>
            </section>
        </div>
        {% elseif isConfirmed == 1 %}
            <section class="order-confirmation">
                <img src="{{ asset('/images/icons/icon-order-confirmation.svg') }}" alt="check icon" />
                <h1>THANK YOU FOR YOUR ORDER</h1>
                <p class="text">You will receive an email confirmation shortly.</p>
                <a href="/" class="btn btn-orange">Back to home</a>
            </section>
        {% elseif isConfirmed == 0 %}
            <h1>Your order failed, please contact our assistance</h1>
        {% endif %}
    </main>
{% endblock %}