{% extends 'base.html.twig' %}

{% block title %}Audiophile | Order{% endblock %}

{% block body %}
<main class="login-form">
    <section>
        <h1 class="login-title">Customer infos</h1>
            <div class="example-wrapper">
                {% if customer %}
                    <p>{{ customer.name }}</p>
                    <p>{{ customer.firstName }}</p>
                    <p>{{ customer.address }}</p>
                    <p>{{ customer.phone }}</p>
                    <p>{{ customer.postalCode }}</p>
                    <p>{{ customer.city }}</p>
                    <p>{{ customer.country }}</p>
                {% endif %}

                {{ form_errors(customerAddressForm) }}

                {{ form_start(customerAddressForm) }}
                {{ form_row(customerAddressForm.name) }}
                {{ form_row(customerAddressForm.firstName) }}
                {{ form_row(customerAddressForm.address) }}
                {{ form_row(customerAddressForm.phone) }}
                {{ form_row(customerAddressForm.postalCode) }}
                {{ form_row(customerAddressForm.city) }}
                {{ form_row(customerAddressForm.country) }}

                <button type="submit" class="btn">Register</button>
                {{ form_end(customerAddressForm) }}
            </div>
    </section>
</main>
{% endblock %}
